html,body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    min-height: 100%;
}

header{
    text-align: center;
}

#right{
    background-color: #f2e9de;
}

nav{
    text-align: right;
    margin: 15px;
}

aside{
    box-sizing: border-box;
    background-color: #9ccfd8;
}
.wrapper > div{
    padding: 1em;
    border: 0px;
    margin: 0px;
}

.buttongrid{
    display:grid;
    grid-template-columns: 10% 10%;
    white-space: normal;
    word-wrap: break-word;
    justify-content: space-between;
}

.bottombuttons{
    display:grid;
    grid-template-columns: 7% 7%;
    grid-gap: 10px;
    white-space: normal;
    word-wrap: break-word;
    justify-content: right;
}

.wrapper{
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
}

.rightwrap{
    display:grid;
    /* height: 100vh; */
    grid-template-rows: 1fr 10fr;
    grid-gap: 20px;
}

footer{
    text-align: center;
    margin-bottom: 0;
}

textarea{
    width: 100%;
    height: 100%;
}